.central_block {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top: 24px;
}
.main_item_block :first-child {
    margin-top: 0;
}
h2 {
    text-align: left;
}
.main_item_block {
    margin-top: 16px;
    padding: 24px;
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: white;
    background: #1C1C21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}
