.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.orders {
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    height: 161px;
}
